MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/advanced-auth
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

MAIL_USER=youremail@gmail.com
MAIL_PASS=your_app_password
